// COLORs
$color-yellow: #FFD623;
$color-yellow-dark: #fccf05;
$color-yellow-light: #f5e083;

$color-black: #232322;
$color-white: #ffffff;


//FONT

$default-font-size : 1.6rem;

// GRID
$grid-width: 140rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 4rem;
$gutter-horizontal-small: 3rem;

// HEIGHT

$header-height: calc(100vh - (2* 2rem) - 7rem);